@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Press+Start+2P&display=swap');
body{
    background-image: url(back.jpg);
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(241, 11, 11);
    font-family :'Bangers', cursive;
    font-size:60px;
}
.background {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom: 20px solid rgb(241, 11, 11);
    padding: 1px;
}
.navigation{
    background-color: black;
    font-size: 25px;
}
.navigation ul{
    overflow: auto;
}
.navigation li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navigation a{
    text-decoration: none;
    padding: 3px 3px;
    color:rgb(241, 11, 11);
}
.navigation div{
   padding:14px 40px;
   float: right;
   border-radius: 30%;
}